<h1>Welcome to the Monster Mash!</h1>

<form action="/" method="get">
  <label for="costume">Name:</label>
  <input type="text" name="costume" id="costume">

  <button type="submit">Submit</button>
</form>

<p>Your costume recommendation is <%= @costume %></p>
<!-- we carry over our ruby variables through the @{variable-name} -->
<img alt="<%= @costume %>" src="<%= @image_url %>">

<nav>
  <a href="/candy">Candy Mash</a>
</nav>
